<h3>Смена пароля</h3>
<div class="row" >
  <div class="col-sm-8 col-sm-offset-2" >
    <%= form_for @_user, url: change_password_user_path(@_user),
      html: {class: "form-horizontal"} do |f| %>
      <div class="form-group" >
        <%= f.label :old_password, "Старый пароль",
          class: "col-sm-4 control-label" %>
        <div class="col-sm-8" >
          <%= f.password_field :old_password, class: "form-control" %>
        </div>
      </div>
      <div class="form-group" >
        <%= f.label :password, "Новый пароль",
          class: "col-sm-4 control-label" %>
        <div class="col-sm-8" >
          <%= f.password_field :password, class: "form-control" %>
        </div>
      </div>
      <div class="form-group" >
        <%= f.label :password_confirmation, "Повторите новый пароль",
          class: "col-sm-4 control-label" %>
        <div class="col-sm-8" >
          <%= f.password_field :password_confirmation, class: "form-control" %>
        </div>
      </div>
      <%= f.submit "Сохранить", class: "btn btn-success pull-right" %>
    <% end %>
  </div>
</div>
