<h3>Список пользователей</h3>

<table class="table table-hover" >
  <thead>
    <tr>
      <th>Email</th>
      <th>Статус</th>
      <th>Владеет</th>
    </tr>
  </thead>
  <tbody>
    <%= content_tag_for :tr, @users do |user| %>
      <td><%= link_to user.email, edit_user_path(user) %></td>
      <td><%= user.active ? "Активен" : "Заблокирован" %></td>
      <% if user.owner_type == "Company" %>
        <td><%= link_to user.owner.name, company_path(user.owner) %></td>
      <% elsif user.owner_type == "Manager"%>
        <td><%= link_to user.owner.name, manager_path(user.owner) %></td>
      <% else %>
        <td>Admin</td>
      <% end %>
    <% end %>
  </tbody>
</table>
