<div class="panel panel-info" >
  <div class="panel-heading" >
    <h2 class="panel-title" >Платежи</h2>
  </div>
  <div class="panel-body" >
    <table class="table table-hover" >
      <thead>
        <tr>
          <th>Клиент</td>
          <th>Документ</td>
          <th>Цена для клиента</td>
          <th>Оплачено клиентом</td>
          <th>Цена в компании</td>
          <th>Оплачено в компании</td>
        </tr>
      </thead>
      <tbody>
      <% @manager.clients.each do |client| %>
        <% client.document_orders.each do |order| %>
          <tr>
            <td><%= link_to client.fio, client_path(client) %></td>
            <td><%= link_to order.document_template.name, document_order_path(order) %></td>
            <td><%= order.client_price %></td>
            <td><%= order.client_payed %></td>
            <td><%= order.cost %></td>
            <td><%= order.cost_payed %></td>            
          </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
