<h3><%= @manager.name %>
  <% if @user.role == 'admin' || @user.role == 'company' -%>
  <small>
    <%= link_to edit_manager_path(@manager),
      class: "btn-xs" do %>
    <span class="glyphicon glyphicon-pencil"></span> Редактировать
    <% end %>
    <%= link_to manager_path(@manager), class: "btn-xs", method: :delete,
      confirm: "Вы уверены?" do %>
      <span class="glyphicon glyphicon-remove text-danger" ></span>
      Удалить
    <% end %>
  </small>
  <% end %>
</h3>
<div>
  <ul id="tabMenu" class="nav nav-tabs" >
    <li><a href="#countries" data-toggle="tab" >Страны</a></li>
    <li><a href="#clients" data-toggle="tab" >Клиенты</a></li>
    <li class="active" ><a href="#docs" data-toggle="tab" >Документы</a></li>
    <li><a href="#pays" data-toggle="tab" >Платежи</a></li>
  </ul>
  <div class="tab-content" id="tabMenuContent" >
    <div class="tab-pane fade" id="countries" >
      <%= render 'manager_countries' %>
    </div>
    <div class="tab-pane fade" id="clients" >
      <%= render 'manager_clients' %>
    </div>
    <div class="tab-pane fade active in" id="docs" >
      <%= render 'manager_docs' %>
    </div>
    <div class="tab-pane fade" id="pays" >
      <%= render 'manager_pays' %>
    </div>
    
  </div>
</div>
