<ul id="tabMenu" class="nav nav-tabs" >
  <li class="active"><a href="#general" data-toggle="tab" >Общая информация</a></li>
  <li><a href="#visa" data-toggle="tab" >Шенген</a></li>
  <li><a href="#foreign" data-toggle="tab" >Загранпаспорт</a></li>
</ul>
<div class="tab-content" id="tabMenuContent" >
  <div class="tab-pane fade active in" id="general" >
  <fieldset>
    <div class="form-group" >
      <%= f.label :fio, "ФИО", class: "control-label col-sm-2" %>
      <div class="col-sm-10" >
        <%= f.text_field :fio, class: "form-control", required: true %>
      </div>
    </div>
    <div class="form-group" >
      <%= f.label :date_of_birth, "Дата рождения",
        class: "control-label col-sm-2"%>
      <div class="col-sm-10" >
        <%= f.date_field :date_of_birth, class: "form-control" %>
      </div>
    </div>
    <div class="form-group" >
      <%= f.label :sex, "Пол", class: "control-label col-sm-2" %>
      <div class="col-sm-10" >
        <label class="radio-inline" >
          <%= f.radio_button :sex, :true %>
          Мужской
        </label>
        <label class="radio-inline" >
          <%= f.radio_button :sex, :false %>
          Женский
        </label>
      </div>
    </div>
    <h3>Паспорт</h3>
    <div class="form-group" >
      <%= f.label :passport_number_series, "Серия",
        class: "control-label col-sm-1"%>
      <div class="col-sm-1" >
        <%= f.text_field :passport_number_series, class: "form-control input-sm" %>
      </div>
      <%= f.label :passport_number, "Номер",
        class: "control-label col-sm-1" %>
      <div class="col-sm-2" >
        <%= f.text_field :passport_number, class: "form-control input-sm" %>
      </div>
      <%= f.label :passport_given_date, "Дата",
        class: "control-label col-sm-1" %>
      <div class="col-sm-2" >
        <%= f.date_field :passport_given_date, class: "form-control input-sm" %>
      </div>
      <%= f.label :passport_given_code, "Код подразделения",
        class: "control-label col-sm-2" %>
      <div class="col-sm-2" >
        <%= f.text_field :passport_given_code, class: "form-control input-sm" %>
      </div>
    </div>
    <div class="form-group" >
      <%= f.label :passport_given, "Выдан",
        class: "control-label col-sm-1"%>
      <div class="col-sm-11" >
          <%= f.text_field :passport_given, class: "form-control" %>
      </div>
    </div>
    <div class="form-group" >
      <%= f.label :address, "Адрес",
        class: "control-label col-sm-1"%>
      <div class="col-sm-11" >
          <%= f.text_field :address, class: "form-control" %>
      </div>
    </div>
    <div class="form-group" >
      <%= f.label :phone, "Телефон",
        class: "control-label col-sm-1"%>
      <div class="col-sm-11" >
          <%= f.text_field :phone, class: "form-control" %>
      </div>
    </div>
  </fieldset>
  </div>
  <div class="tab-pane fade" id="foreign" >
  <fieldset>
  <%= f.fields_for :foreign_passport_data do |data| %>
    <h3>Данные для загранпаспорта: общие</h3>
    <div class="form-group" >
      <%= data.label :fio_changed, "Старое ФИО",
        class: "control-label col-sm-2" %>
      <div class="col-sm-10" >
        <%= data.text_field :fio_changed, class: "form-control" %>
      </div>
    </div>
    <div class="form-group" >
      <%= data.label :place_of_birth, "Место рождения",
        class: "control-label col-sm-2" %>
      <div class="col-sm-10" >
        <%= data.text_field :place_of_birth , class: "form-control" %>
      </div>
    </div>
    <div class="form-group" >
      <%= data.label :registration, "Данные регистрации",
        class: "control-label col-sm-2" %>
      <div class="col-sm-10" >
        <%= data.text_field :registration , class: "form-control" %>
      </div>
    </div>
    <div class="form-group" >
      <%= data.label :address, "Адрес",
        class: "control-label col-sm-2" %>
      <div class="col-sm-10" >
        <%= data.text_field :address , class: "form-control" %>
      </div>
    </div>
    <div class="form-group" >
      <%= data.label :citizenship, "Гражданство",
        class: "control-label col-sm-2" %>
      <div class="col-sm-10" >
        <%= data.text_field :citizenship , class: "form-control" %>
      </div>
    </div>
    <div class="form-group" >
      <%= data.label :citizenship_other, "Другие гражданства",
        class: "control-label col-sm-2" %>
      <div class="col-sm-10" >
        <%= data.text_field :citizenship_other , class: "form-control" %>
      </div>
    </div>
    <div class="form-group" >
      <%= data.label :aim, "Цель получения",
        class: "control-label col-sm-2" %>
      <div class="col-sm-10" >
        <%= data.text_field :aim , class: "form-control" %>
      </div>
    </div>
    <div class="form-group" >
      <%= data.label :previous_passport, "Получение",
        class: "control-label col-sm-2" %>
      <div class="col-sm-10" >
        <%= data.select :previous_passport,
          options_for_select([["Первичное", 0], ["Взамен использованного", 1],
                              ["Взамен испорченного", 2],
                              ["Взамен утраченного", 3]], data.object.previous_passport.to_s), {},
          {class: "form-control"} %>
      </div>
    </div>
    <div class="form-group" >
      <%= data.label :conviction, "Судимость",
        class: "control-label col-sm-2" %>
      <div class="col-sm-10" >
        <%= data.text_field :conviction , class: "form-control" %>
      </div>
    </div>
    <div class="form-group" >
      <%= data.label :court_obligations, "Уклонение от суд. обязательств",
        class: "control-label col-sm-2" %>
      <div class="col-sm-10" >
        <%= data.text_field :court_obligations , class: "form-control" %>
      </div>
    </div>
    <div class="form-group" >
      <%= data.label :old_passport_series, "Серия",
        class: "control-label col-sm-1"%>
      <div class="col-sm-1" >
        <%= data.text_field :old_passport_series, class: "form-control input-sm" %>
      </div>
      <%= data.label :old_passport_number, "Номер",
        class: "control-label col-sm-1" %>
      <div class="col-sm-2" >
        <%= data.text_field :old_passport_number, class: "form-control input-sm" %>
      </div>
      <%= data.label :old_passport_given_date, "Дата",
        class: "control-label col-sm-1" %>
      <div class="col-sm-2" >
        <%= data.date_field :old_passport_given_date, class: "form-control input-sm" %>
      </div>
    </div>
    <div class="form-group" >
      <%= data.label :old_passport_given, "Выдан",
        class: "control-label col-sm-1"%>
      <div class="col-sm-11" >
          <%= data.text_field :old_passport_given, class: "form-control" %>
      </div>
    </div>
    <h3>Данные для загранпаспорта: для взрослого</h3>
    <div class="form-group" >
      <%= data.label :secret_access, "Доступ к тайне",
        class: "control-label col-sm-2" %>
      <div class="col-sm-10" >
        <%= data.text_field :secret_access , class: "form-control" %>
      </div>
    </div>
    <div class="form-group" >
      <%= data.label :contract_liability, "Контрактные обязательства",
        class: "control-label col-sm-2" %>
      <div class="col-sm-10" >
        <%= data.text_field :contract_liability , class: "form-control" %>
      </div>
    </div>
    <div class="form-group" >
      <%= data.label :military_service, "Военная служба",
        class: "control-label col-sm-2" %>
      <div class="col-sm-10" >
        <%= data.text_field :military_service , class: "form-control" %>
      </div>
    </div>
    <% for i in 1..10 do %>
      <div class="form-group" >
        <div class="col-sm-2"  >
          <h4>Работа № <%= i.to_s %>:</h4>
        </div>
        <%= data.label ("job" + i.to_s + "_date_from").to_sym, "Месяц и год поступления",
          class: "control-label col-sm-2" %>
        <div class="col-sm-2" >
          <%= data.text_field ("job" + i.to_s + "_date_from").to_sym, class: "form-control input-sm" %>
        </div>
        <%= data.label ("job" + i.to_s + "_date_to").to_sym, "Месяц и год увольнения",
          class: "control-label col-sm-2" %>
        <div class="col-sm-2" >
          <%= data.text_field ("job" + i.to_s + "_date_to").to_sym, class: "form-control input-sm" %>
        </div>
      </div>
      <div class="form-group" >
        <%= data.label ("job" + i.to_s).to_sym, "Должность и место работы с указанием министерства (ведомства), номер войсковой части",
          class: "control-label col-sm-4"%>
        <div class="col-sm-8" >
            <%= data.text_field ("job" + i.to_s).to_sym, class: "form-control" %>
        </div>
      </div>
      <div class="form-group" >
        <%= data.label ("job" + i.to_s + "_address").to_sym, "Адрес организации, войсковой части",
          class: "control-label col-sm-4"%>
        <div class="col-sm-8" >
            <%= data.text_field ("job" + i.to_s + "_address").to_sym, class: "form-control" %>
        </div>
      </div>
    <% end %>
  <h3>Данные для загранпаспорта: для ребенка</h3>
  <div class="form-group" >
    <%= data.label :p_fio, "ФИО представителя",
      class: "control-label col-sm-2"%>
    <div class="col-sm-10" >
        <%= data.text_field :p_fio, class: "form-control" %>
    </div>
  </div>
  <div class="form-group" >
    <%= data.label :p_fio_changed, "Измененное ФИО",
      class: "control-label col-sm-2"%>
    <div class="col-sm-10" >
        <%= data.text_field :p_fio_changed, class: "form-control" %>
    </div>
  </div>
  <div class="form-group" >
    <%= data.label :p_date_of_birth, "Дата рождения представителя",
      class: "control-label col-sm-2"%>
    <div class="col-sm-2" >
        <%= data.date_field :p_date_of_birth, class: "form-control input-sm" %>
    </div>
  </div>
  <div class="form-group" >
    <%= data.label :p_place_of_birth, "Место рождения представителя",
      class: "control-label col-sm-2"%>
    <div class="col-sm-10" >
        <%= data.text_field :p_place_of_birth, class: "form-control" %>
    </div>
  </div>
  <div class="form-group" >
    <%= data.label :p_sex, "Пол представителя",
      class: "control-label col-sm-2"%>
    <div class="col-sm-10" >
        <%= data.text_field :p_sex, class: "form-control" %>
    </div>
  </div>
  <div class="form-group" >
    <%= data.label :p_registration, "Данные регистрации представителя",
      class: "control-label col-sm-2"%>
    <div class="col-sm-10" >
        <%= data.text_field :p_registration, class: "form-control" %>
    </div>
  </div>
  <div class="form-group" >
    <%= data.label :p_address, "Адрес представителя",
      class: "control-label col-sm-2"%>
    <div class="col-sm-10" >
        <%= data.text_field :p_address, class: "form-control" %>
    </div>
  </div>
  <div class="form-group" >
      <%= data.label :p_pass_ser, "Серия пасспорта представителя",
        class: "control-label col-sm-2"%>
      <div class="col-sm-2" >
        <%= data.text_field :p_pass_ser, class: "form-control input-sm" %>
      </div>
      <%= data.label :p_pass_num, "Номер",
        class: "control-label col-sm-1" %>
      <div class="col-sm-2" >
        <%= data.text_field :p_pass_num, class: "form-control input-sm" %>
      </div>
      <%= data.label :p_pass_given_date, "Дата",
        class: "control-label col-sm-1" %>
      <div class="col-sm-2" >
        <%= data.date_field :p_pass_given_date, class: "form-control input-sm" %>
      </div>
    </div>
    <div class="form-group" >
      <%= data.label :p_pass_given, "Выдан",
        class: "control-label col-sm-2"%>
      <div class="col-sm-10" >
          <%= data.text_field :p_pass_given, class: "form-control" %>
      </div>
    </div>
  <% end %>
  </fieldset>
  </div>
  <div class="tab-pane fade" id="visa" >
  <style>
    .panel{
      margin-bottom:5px;
    }
  </style>
  <fieldset>
  <%= f.fields_for :visa_data do |visa| %>
    <h3>Данные для визы</h3>
    <div class="panel panel-info" >
      <div class="panel-heading" >
        1. Фамилия/и (x)
      </div>
      <div class="panel-body" >
         <%= visa.text_field :surname, class: "form-control" %>
      </div>
    </div>
    <div class="panel panel-info" >
      <div class="panel-heading" >
        2 Фамилия при рождении (девичья, предыдущие фамилии) (x)
      </div>
      <div class="panel-body" >
         <%= visa.text_field :surname_at_birth, class: "form-control" %>
      </div>
    </div>
    <div class="panel panel-info" >
      <div class="panel-heading" >
        3. Имя/имена (x)
      </div>
      <div class="panel-body" >
        <%= visa.text_field :name, class: "form-control" %>
      </div>
    </div>
    <div class="panel panel-info" >
      <div class="panel-heading" >
        5. Место рождения
      </div>
      <div class="panel-body" >
        <%= visa.text_field :place_of_birth, class: "form-control" %>
      </div>
    </div>
    <div class="panel panel-info" >
      <div class="panel-heading" >
        6. Страна рождения
      </div>
      <div class="panel-body" >
        <%= visa.text_field :country_of_birth, class: "form-control" %>
      </div>
    </div>
    <div class="panel panel-info" >
      <div class="panel-heading" >
        7. Гражданство
      </div>
      <div class="panel-body" >
        <div class="form-group" >
      <%= visa.label :current_nationality, "В настоящее время",
        class: "control-label col-sm-2" %>
      <div class="col-sm-10" >
        <%= visa.text_field :current_nationality, class: "form-control" %>
      </div>
    </div>
    <div class="form-group" >
      <%= visa.label :nationality_at_birth, "При рождении",
        class: "control-label col-sm-2" %>
      <div class="col-sm-10" >
        <%= visa.text_field :nationality_at_birth, class: "form-control" %>
      </div>
    </div>
      </div>
    </div>
    <div class="panel panel-info" >
      <div class="panel-heading" >
        9. Семейное положение
      </div>
      <div class="panel-body" >
        <div class="form-group" >
          <div class="col-sm-12" >
            <%= visa.select :marital_status, 
              options_for_select([ 
              ["Холост/не замужем", 1],
              ["женат/замужем", 2],
              ["не проживает с супругом", 3],
              ["Разведен/-а", 4],
              ["Взамен утраченного", 5],
              ["Иное (уточнить)", 0]], visa.object.marital_status.to_s), {},
              {class: "form-control"} %>
          </div>
        </div>
        <div class="form-group" >
          <%= visa.label :marital_status_other, "Иное:",
            class: "control-label col-sm-1" %>
          <div class="col-sm-11" >
            <%= visa.text_field :marital_status_other, class: "form-control" %>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-info" >
      <div class="panel-heading" >
        12. Тип проездного документа
      </div>
      <div class="panel-body" >
        <div class="form-group" >
          <div class="col-sm-12" >
            <%= visa.select :travel_document_type, 
            options_for_select([ 
              ["Обычный паспорт", 1],
              ["Дипломатический паспорт", 2],
              ["Служебный паспорт", 3],
              ["Официальный паспорт", 4],
              ["Особый паспорт", 5],
              ["Иное (уточнить)", 0]], visa.object.travel_document_type.to_s), {},
              {class: "form-control"} %>
          </div>
        </div>
        <div class="form-group" >
          <%= visa.label :travel_document_type_other, "Иное:",
            class: "control-label col-sm-1" %>
          <div class="col-sm-11" >
            <%= visa.text_field :travel_document_type_other, class: "form-control" %>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-info" >
      <div class="panel-heading" >
        13. &#8470; проездного документа
      </div>
      <div class="panel-body" >
        <%= visa.text_field :travel_document_number, class: "form-control input-sm" %>
      </div>
    </div>
    <div class="panel panel-info" >
      <div class="panel-heading" >
        14. Дата выдачи
      </div>
      <div class="panel-body" >
        <%= visa.date_field :travel_document_date_of_issue, class: "form-control input-sm" %>
      </div>
    </div>
    <div class="panel panel-info" >
      <div class="panel-heading" >
        15. Действителен до
      </div>
      <div class="panel-body" >
        <%= visa.date_field :travel_document_valid_until, class: "form-control input-sm" %>
      </div>
    </div>
    <div class="panel panel-info" >
      <div class="panel-heading" >
        16. Кем выдан
      </div>
      <div class="panel-body" >
        <%= visa.text_field :travel_document_issued_by, class: "form-control" %>
      </div>
    </div>
    <div class="panel panel-info" >
      <div class="panel-heading" >
        17. Домашний адрес и адрес электронной почты заявителя
      </div>
      <div class="panel-body" >
        <div class="form-group" >
          <div class="col-sm-12" >
              <%= visa.text_field :home_address_and_email, class: "form-control" %>
          </div>
        </div>
        <div class="form-group" >
          <%= visa.label :phone, "Номер/-а телефона",
            class: "control-label col-sm-2"%>
          <div class="col-sm-10" >
              <%= visa.text_field :phone, class: "form-control" %>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-info" >
      <div class="panel-heading" >
        18. Страна постоянного жительства в случае, что Вы живете в другой стране
      </div>
      <div class="panel-body" >
        <div class="form-group" >
          <div class="col-sm-2" >
            <%= visa.select :residence_other_country,
              options_for_select([ 
              ["Нет", false],
              ["Да", true]], visa.object.residence_other_country.to_s), {},
              {class: "form-control"} %>
          </div>
          <%= visa.label :residence_document_type, "Вид на жительство или равноценный документ",
            class: "control-label col-sm-5"%>
          <div class="col-sm-5" >
              <%= visa.text_field :residence_document_type, class: "form-control" %>
          </div>
        </div>
        <div class="form-group" >
          <%= visa.label :residence_document_number, "&#8470;".html_safe,
            class: "control-label col-sm-2"%>
          <div class="col-sm-3" >
              <%= visa.text_field :residence_document_number, class: "form-control" %>
          </div>

          <%= visa.label :valid_until, "Действителен по",
            class: "control-label col-sm-2" %>
          <div class="col-sm-3" >
            <%= visa.date_field :valid_until, class: "form-control input-sm" %>
          </div>
        </div>  
      </div>
    </div>
    <div class="panel panel-info" >
      <div class="panel-heading" >
        19. Профессия в настоящее время 
      </div>
      <div class="panel-body" >
        <%= visa.text_field :current_occupation, class: "form-control" %>
      </div>
    </div>
    <div class="panel panel-info" >
      <div class="panel-heading" >
        20. Работодатель-название, адрес и телефон. Для студентов–название и адрес учебного заведения.
      </div>
      <div class="panel-body" >
        <%= visa.text_field :employer_data, class: "form-control" %>
      </div>
    </div>
    <div class="panel panel-info" >
      <div class="panel-heading" >
        21. Главная цель/-и поездки
      </div>
      <div class="panel-body" >
        <div class="form-group" >
          <div class="col-sm-12" >
            <%= visa.select :visa_aim, options_for_select([ 
              ["Туризм", 1],
              ["Деловая", 2],
              ["Родственники", 3],
              ["Культура", 4],
              ["Спорт", 5],
              ["Официальная", 6],
              ["Лечение", 7],
              ["Учеба", 8],
              ["Транзит", 9],
              ["Транзит ч. Аэропорт", 10],
              ["Иное (уточнить)", 0]], visa.object.visa_aim.to_s), {},
              {class: "form-control"} %>
          </div>
        </div>
        <div class="form-group" >
          <%= visa.label :visa_aim_other, "Иное:",
            class: "control-label col-sm-1"%>
          <div class="col-sm-11" >
              <%= visa.text_field :visa_aim_other, class: "form-control" %>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-info" >
      <div class="panel-heading" >
        22. Страна/ы следования
      </div>
      <div class="panel-body" >
        <%= visa.text_field :country_of_destination, class: "form-control" %>
      </div>
    </div>
    <div class="panel panel-info" >
      <div class="panel-heading" >
        23. Шенгенская страна первого въезда
      </div>
      <div class="panel-body" >
        <%= visa.text_field :first_enter_country, class: "form-control" %>
      </div>
    </div>
    <div class="panel panel-info" >
      <div class="panel-heading" >
        24. Виза запрашивается для
      </div>
      <div class="panel-body" >
        <%= visa.select :quantity_of_entries, options_for_select([ 
          ["Однократный въезд", 1],
          ["Двукратный въезд", 2],
          ["Многократный въезд", 3]], visa.object.quantity_of_entries.to_s), {},
          {class: "form-control"} %>
      </div>
    </div>
    <div class="panel panel-info" >
      <div class="panel-heading" >
        25. Продолжительность пребывания или транзита. Указать количество дней
      </div>
      <div class="panel-body" >
        <%= visa.text_field :duration_of_stay, class: "form-control" %>
      </div>
    </div>
    <div class="panel panel-info" >
      <div class="panel-heading" >
        26. Шенгенские визы, выданные за последние три года
      </div>
      <div class="panel-body" >
        <div class="form-group" >
          <div class="col-sm-7" >
            <%= visa.select :visa_given,
              options_for_select([ 
              ["Нет", false],
              ["Да", true]], visa.object.visa_given.to_s), {},
              {class: "form-control"} %>
          </div>
        </div>
        <div class="form-group" >
          <%= visa.label :visa_given1_from, "Срок действия с",
            class: "control-label col-sm-2" %>
          <div class="col-sm-2" >
            <%= visa.date_field :visa_given1_from, class: "form-control input-sm" %>
          </div>
          <%= visa.label :visa_given1_to, "по",
            class: "control-label col-sm-1" %>
          <div class="col-sm-2" >
            <%= visa.date_field :visa_given1_to, class: "form-control input-sm" %>
          </div>
        </div>
         <div class="form-group" >
          <%= visa.label :visa_given2_from, "Срок действия с",
            class: "control-label col-sm-2" %>
          <div class="col-sm-2" >
            <%= visa.date_field :visa_given2_from, class: "form-control input-sm" %>
          </div>
          <%= visa.label :visa_given2_to, "по",
            class: "control-label col-sm-1" %>
          <div class="col-sm-2" >
            <%= visa.date_field :visa_given2_to, class: "form-control input-sm" %>
          </div>
        </div>
         <div class="form-group" >
          <%= visa.label :visa_given3_from, "Срок действия с",
            class: "control-label col-sm-2" %>
          <div class="col-sm-2" >
            <%= visa.date_field :visa_given3_from, class: "form-control input-sm" %>
          </div>
          <%= visa.label :visa_given3_to, "по",
            class: "control-label col-sm-1" %>
          <div class="col-sm-2" >
            <%= visa.date_field :visa_given3_to, class: "form-control input-sm" %>
          </div>
        </div>
         <div class="form-group" >
          <%= visa.label :visa_given4_from, "Срок действия с",
            class: "control-label col-sm-2" %>
          <div class="col-sm-2" >
            <%= visa.date_field :visa_given4_from, class: "form-control input-sm" %>
          </div>
          <%= visa.label :visa_given4_to, "по",
            class: "control-label col-sm-1" %>
          <div class="col-sm-2" >
            <%= visa.date_field :visa_given4_to, class: "form-control input-sm" %>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-info" >
      <div class="panel-heading" >
        27. Отпечатки пальцев, предоставленные ранее при подаче заявки на получение шенгенской визы
      </div>
      <div class="panel-body" >
        <div class="form-group" >
          <div class="col-sm-2" >
            <%= visa.select :fingerprints,
              options_for_select([ 
              ["Нет", false],
              ["Да", true]], visa.object.fingerprints.to_s), {},
              {class: "form-control"} %>
          </div>
          <%= visa.label :fingerprints_date, "Дата, если известна",
            class: "control-label col-sm-3"%>
          <div class="col-sm-2" >
              <%= visa.date_field :fingerprints_date, class: "form-control input-sm" %>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-info" >
      <div class="panel-heading" >
        28. Разрешение на въезд в страну конечного следования, если необходимо.
      </div>
      <div class="panel-body" >
        <div class="form-group" >
          <%= visa.label :entry_permit, "Кем выдано",
            class: "control-label col-sm-2"%>
          <div class="col-sm-10" >
              <%= visa.text_field :entry_permit, class: "form-control" %>
          </div>
        </div>
        <div class="form-group" >
          <%= visa.label :entry_permit_from, "Действительно с",
            class: "control-label col-sm-2"%>
          <div class="col-sm-2" >
              <%= visa.date_field :entry_permit_from, class: "form-control input-sm" %>
          </div>
          <%= visa.label :entry_permit_to, "по",
            class: "control-label col-sm-1"%>
          <div class="col-sm-2" >
              <%= visa.date_field :entry_permit_to, class: "form-control input-sm" %>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-info" >
      <div class="panel-heading" >
        29.Предполагаемая дата въезда в шенгенскую зону
      </div>
      <div class="panel-body" >
        <%= visa.date_field :entry_date, class: "form-control input-sm" %>
      </div>
    </div>
    <div class="panel panel-info" >
      <div class="panel-heading" >
        30. Предполагаемая дата выезда из шенгенской зоны
      </div>
      <div class="panel-body" >
        <%= visa.date_field :departure_date, class: "form-control input-sm" %>
      </div>
    </div>
    <div class="panel panel-info" >
      <div class="panel-heading" >
        31. Фамилия/-и, имя (имена) лица, приглашающего в государство/-а – член(-ы) Шенгенского соглашения. В случае отсутствия такового –название гостиницы (гостиниц) или адрес /-а временного пребывания на территории государств-участников Шенгенского соглашения
      </div>
      <div class="panel-body" >
        <div class="form-group" >
          <div class="col-sm-12" >
              <%= visa.text_field :inviter_name, class: "form-control" %>
          </div>
        </div>
        <div class="form-group" >
          <%= visa.label :inviter_address_and_email, "Адрес и адрес электронной почты приглашающего лица (лиц) / гостиницы (гостиниц) / места (мест) временного пребывания",
            class: "control-label col-sm-12"%>
        </div>
        <div class="form-group" >
          <div class="col-sm-12" >
              <%= visa.text_field :inviter_address_and_email, class: "form-control" %>
          </div>
        </div>
        <div class="form-group" >
          <%= visa.label :inviter_phone, "Телефон и факс",
            class: "control-label col-sm-2"%>
          <div class="col-sm-10" >
              <%= visa.text_field :inviter_phone, class: "form-control" %>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-info" >
      <div class="panel-heading" >
        32. Название и адрес приглашающего предприятия/организации
      </div>
      <div class="panel-body" >
        <div class="form-group" >
          <%= visa.label :inviter_company_name_and_address, "Приглашающая компания",
            class: "control-label col-sm-2"%>
          <div class="col-sm-10" >
              <%= visa.text_field :inviter_company_name_and_address, class: "form-control" %>
          </div>
        </div>
        <div class="form-group" >
          <%= visa.label :inviter_company_phone, "Телефон и факс предприятия/организации ",
            class: "control-label col-sm-2"%>
          <div class="col-sm-10" >
              <%= visa.text_field :inviter_company_phone, class: "form-control" %>
          </div>
        </div>
        <div class="form-group" >
          <%= visa.label :inviter_company_contact_face, "Фамилия, имя, адрес, телефон, факс и адрес электронной почты контактного лица предприятия / организации",
            class: "control-label col-sm-12"%>
        </div>
        <div class="form-group" >
          <div class="col-sm-12" >
              <%= visa.text_field :inviter_company_contact_face, class: "form-control" %>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-info" >
      <div class="panel-heading" >
        33. Расходы заявителя на проезд и во время пребывания оплачивает
      </div>
      <div class="panel-body" >
        <div class="form-group" >
          <div class="col-sm-12" >
            <%= visa.select :sponsor, options_for_select([ 
              ["Заявитель", 1],
              ["Спонсор", 2],
              ["Упомянутые в 31 и 32", 3],
              ["Иные", 0]], visa.object.sponsor.to_s), {},
              {class: "form-control"} %>
          </div>
        </div>
        <div class="form-group" >
          <%= visa.label :sponsor_other, "Иное:",
            class: "control-label col-sm-2"%>
          <div class="col-sm-10" >
              <%= visa.text_field :sponsor_other, class: "form-control" %>
          </div>
        </div>
        <div class="form-group" >
          <%= visa.label :means1, "Свои средства",
            class: "control-label col-sm-2" %>
          <div class="col-sm-10" >
            <%= visa.select :means1, options_for_select([ 
              ["Наличные деньги", 1],
              ["Дорожные чеки", 2],
              ["Кредитная карточка", 3],
              ["Предоплачено место проживания", 4],
              ["Оплачивается транспорт", 5],
              ["Иное", 0]], visa.object.means1.to_s), {},
              {class: "form-control"} %>
          </div>
        </div>
        <div class="form-group" >
          <%= visa.label :means1_other, "Свои средства: иное",
            class: "control-label col-sm-2"%>
          <div class="col-sm-10" >
              <%= visa.text_field :means1_other, class: "form-control" %>
          </div>
        </div>
        <div class="form-group" >
          <%= visa.label :means2, "Cпонсорские средства",
            class: "control-label col-sm-2" %>
          <div class="col-sm-10" >
            <%= visa.select :means2, options_for_select([ 
              ["Наличные деньги", 1],
              ["Обеспечивается место проживания", 2],
              ["Оплачиваются все расходы", 3],
              ["Оплачивается транспорт", 4],
              ["Иное", 0]], visa.object.means2.to_s), {},
              {class: "form-control"} %>
          </div>
        </div>
        <div class="form-group" >
          <%= visa.label :means2_other, "Cпонсорские средства: иное",
            class: "control-label col-sm-2"%>
          <div class="col-sm-10" >
              <%= visa.text_field :means2_other, class: "form-control" %>
          </div>
        </div>
      </div>
    </div>
    
    <div class="panel panel-info" >
      <div class="panel-body" >
       <div class="form-group">
         <%= visa.label :place, "Место",
            class: "control-label col-sm-1"%>
          <div class="col-sm-6" >
              <%= visa.text_field :place, class: "form-control" %>
          </div>
       
         <%= visa.label :date, "Дата",
            class: "control-label col-sm-1"%>
          <div class="col-sm-2" >
              <%= visa.date_field :date, class: "form-control input-sm" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</fieldset>
</div>
</div>
