<table class="table" >
  <tr>
    <td> Старое ФИО, если менялось </td>
    <td><%= @client.foreign_passport_data.fio_changed %></td>
  </tr>
  <tr>
    <td> Место рождения </td>
    <td><%= @client.foreign_passport_data.place_of_birth %></td>
  </tr>
  <tr>
    <td> Данные регистрации </td>
    <td><%= @client.foreign_passport_data.registration %></td>
  </tr>
  <tr>
    <td> Адрес </td>
    <td><%= @client.foreign_passport_data.address %></td>
  </tr>
  <tr>
    <td> Гражданство </td>
    <td><%= @client.foreign_passport_data.citizenship %></td>
  </tr>
  <tr>
    <td> Другие гражданства, если есть </td>
    <td><%= @client.foreign_passport_data.citizenship_other %></td>
  </tr>
  <tr>
    <td> Цель получения загранпаспорта </td>
    <td><%= @client.foreign_passport_data.aim %></td>
  </tr>
  <tr>
    <td> Получение </td>
    <td><%= @client.foreign_passport_data.previous_passport_string %></td>
  </tr>
  <tr>
    <td> Доступ к секретной информации </td>
    <td><%= @client.foreign_passport_data.secret_access %></td>
  </tr>
  <tr>
    <td> Обязательства по догворам </td>
    <td><%= @client.foreign_passport_data.contract_liability %></td>
  </tr>
  <tr>
    <td> Призван на службу </td>
    <td><%= @client.foreign_passport_data.military_service %></td>
  </tr>
  <tr>
    <td> Осужден либо обвиняемый </td>
    <td><%= @client.foreign_passport_data.conviction %></td>
  </tr>
  <tr>
    <td> Уклонение от обязательств, наложенных судом </td>
    <td><%= @client.foreign_passport_data.court_obligations %></td>
  </tr>
  <tr>
    <td> Серия старого паспорта </td>
    <td><%= @client.foreign_passport_data.old_passport_series %></td>
  </tr>
  <tr>
    <td> Номер </td>
    <td><%= @client.foreign_passport_data.old_passport_number %></td>
  </tr>
  <tr>
    <td> Выдан </td>
    <td><%= @client.foreign_passport_data.old_passport_given %></td>
  </tr>
  <tr>
    <td> Дата выдачи </td>
    <td><%= @client.foreign_passport_data.old_passport_given_date %></td>
  </tr>
  <tr>
    <td><h4> Данные для взрослого </h4></td>
  </tr>
  <tr>
    <td> Дата выдачи </td>
    <td><%= @client.foreign_passport_data.secret_access %></td>
  </tr>
  <tr>
    <td> Дата выдачи </td>
    <td><%= @client.foreign_passport_data.contract_liability %></td>
  </tr>
  <tr>
    <td> Дата выдачи </td>
    <td><%= @client.foreign_passport_data.military_service %></td>
  </tr>
  </table>
  <table>
  <tr>
    <td width="15%"> Месяц и год поступления </td>
    <td width="15%"> Месяц и год увольнения </td>
    <td width="35%"> Должность и место работы с указанием министерства (ведомства), номер войсковой части </td>
    <td width="35%"> Адрес организации, войсковой части </td>
  </tr>
  <% for i in 1..10 %>
    <tr>
      <td><%= @client.foreign_passport_data.attributes["job" + (i % 10).to_s + "_date_from"] %> &nbsp;</td>
      <td><%= @client.foreign_passport_data.attributes["job" + (i % 10).to_s + "_date_to"] %> &nbsp; </td>
      <td><%= @client.foreign_passport_data.attributes["job" + (i % 10).to_s] %> &nbsp; </td>
      <td><%= @client.foreign_passport_data.attributes["job" + (i % 10).to_s + "_address"] %> &nbsp; </td>
    </tr>
  <% end %>
  </table>
  <table>
  <tr>
    <td><h4> Данные для ребенка </h4></td>
  </tr>
</table>
