<table class="table" >
  <tr>
    <td> Фамилия </td>
    <td><%= @client.visa_data.surname %></td>
  </tr>
  <tr>
    <td> Фамилия при рождении </td>
    <td><%= @client.visa_data.surname_at_birth %></td>
  </tr>
  <tr>
    <td> Имя </td>
    <td><%= @client.visa_data.name %></td>
  </tr>
  <tr>
    <td> Отчество </td>
    <td><%= @client.visa_data.patronymic_name %></td>
  </tr>
  <tr>
    <td> Место рождения </td>
    <td><%= @client.visa_data.place_of_birth %></td>
  </tr>
  <tr>
    <td> Страна рождения </td>
    <td><%= @client.visa_data.country_of_birth %></td>
  </tr>
  <tr>
    <td> Гражданство </td>
    <td><%= @client.visa_data.current_nationality %></td>
  </tr>
  <tr>
    <td> Гражданство при рождении </td>
    <td><%= @client.visa_data.nationality_at_birth %></td>
  </tr>
  <tr>
    <td> Отчество </td>
    <td><%= @client.visa_data.patronymic_name %></td>
  </tr>
</table>
