<table class="table" >
  <tr>
    <td> ФИО </td>
    <td><%= @client.fio %></td>
  </tr>
  <tr>
    <th>Паспорт</th>
  </tr>
  <tr>
    <td> Серия </td>
    <td><%= @client.passport_number_series %></td>
  </tr>
  <tr>
    <td> Номер </td>
    <td><%= @client.passport_number %></td>
  </tr>
  <tr>
    <td> Выдан </td>
    <td><%= @client.passport_given %></td>
  </tr>
  <tr>
    <td> Дата выдачи </td>
    <td><%= @client.passport_given_date %></td>
  </tr>
  <tr>
    <td> Код подразделения </td>
    <td><%= @client.passport_given_code %></td>
  </tr>
  <tr>
    <td> Дата рождения </td>
    <td><%= @client.date_of_birth %></td>
  </tr>
  <tr>
    <td> Пол </td>
    <td><%= @client.sex_string %></td>
  </tr>
</table>
