<h3>
  <%= @client.fio %>
  <% if @user.role == "manager" -%>
    <small>
      <%= link_to edit_client_path(@client),
        class: "btn-xs" do %>
      <span class="glyphicon glyphicon-pencil"></span> Редактировать
      <% end %>
      <%= link_to client_path(@client), class: "btn-xs", method: :delete,
        confirm: "Вы уверены?" do %>
        <span class="glyphicon glyphicon-remove text-danger" ></span>
        Удалить
      <% end %>
    </small>
  <% end %>
</h3>
<div>
  <ul id="tabMenu" class="nav nav-tabs" >
    <li><a href="#data" data-toggle="tab" >Информация о клиенте</a></li>
    <li class="active" ><a href="#docs" data-toggle="tab" >Документы</a></li>
  </ul>
  <div class="tab-content" id="tabMenuContent" >
    <div class="tab-pane fade" id="data" >
      <%= render 'client_info' %>
    </div>
    <div class="tab-pane fade active in" id="docs" >
      <%= render 'client_docs' %>
    </div>
  </div>
</div>
