<h3>Компании</h3>
<table class="table table-hover" >
  <thead>
    <tr>
      <th>Id</th>
      <th>Название</th>
      <th>E-mail</th>
      <th>Телефон</th>
      <th>Оплачено до</th>
    </tr>
  </thead>
  <% @companies.each do |company| %>
  <tr>
    <%= content_tag :td, company.id %>
    <%= content_tag :td, link_to(company.name, company_path(company)) %>
    <%= content_tag :td, company.email %>
    <%= content_tag :td, company.phone %>
    <%= content_tag :td, company.paid_before %>
  </tr>
  <% end %>
</table>
