<% if @company.active? %>
  <h3><%= @company.name %></h3>
<% else %>
  <h3><%= @company.name %> <small class="bg-danger" >Компания заблокирована</small></h3>
<% end %>
<div>
  <ul id="tabMenu" class="nav nav-tabs">
    <li class="active" ><a href="#company" data-toggle="tab" >Компания</a></li>
    <li><a href="#managers" data-toggle="tab">Менеджеры</a></li>
    <li><a href="#clients" data-toggle="tab">Клиенты</a></li>
  </ul>
  <div class="tab-content" id="tabMenuContent" >
    <div class="tab-pane fade active in" id="company" >
      <%= render 'company_info' %>
    </div>
    <div class="tab-pane fade" id="managers" >
      <%= render 'company_managers' %>
    </div>
    <div class="tab-pane fade" id="clients" >
      <%= render 'company_clients' %>
    </div>
  </div>
</div>
