<tr>
  <th>Id заявки</th>
  <td><%= @claim.id %></td>
</tr>
<tr>
  <th>Название</th>
  <td><%= @claim.name %></td>
</tr>
<tr>
  <th>E-mail</th>
  <td><%= @claim.email %></td>
</tr>
<tr>
  <th>Телефон</th>
  <td><%= @claim.phone %></td>
</tr>
<tr>
  <th>Статус заявки</th>
  <td><%= @claim.status_string %></td>
</tr>
