<h3>Заявка</h3>
<table class="table" >
  <%= render 'claim_data' %>
  <tr>
    <%= form_tag company_claim_path(@claim), method: "PUT" do %>
    <td>
        <%= submit_tag "Отклонить заявку", class: "btn btn-default",
          onclick: "return confirm('Вы точно уверены?');" %>
    </td>
    <td>
        <%= submit_tag "Принять заявку", class: "btn btn-default",
          onclick: "return confirm('Вы точно уверены?');" %>
    </td>
    <% end %>
  </tr>
  <tr>
    <td>
      <%= form_tag company_claim_path(@claim), method: "DELETE" do %>
        <%= submit_tag "Удалить заявку", class: "btn btn-danger",
          onclick: "return confirm('Вы точно уверены?');" %>
      <% end %>
    </td>
  </tr>
</table>
