<h3><%= @order.document_template.name %></h3>
<%= form_for @order, html: {class: "form-horizontal"} do |f| %>
<table class="table" >
  <tr>
    <td class="col-sm-2" >
      Статус
    </td>
    <td>
      <%= f.select :status, options_for_select(DocumentOrder.statuses,
                                               @order.status), {},
                  class: "form-control" %>
    </td>
  </tr>
  <tr>
    <td>Комментарий</td>
    <td>
      <%= f.text_area :comments, class: "form-control" %>
    </td>
  </tr>
  <tr>
    <td>Скачать документы</td>
    <td>
    <% case @order.document_template.document_type %>
          <% when 'visa' %>
            <%= render "visa_list" %>
          <% when 'foreign_passport' %>
            <%= render 'foreign_passport_list' %>
          <% end %>
    </td>
  </tr>
</table>
<div class="form-group" >
      <%= f.label :comments, "Цена для клиента:",
        class: "control-label col-sm-2" %>
      <div class="col-sm-3" >
          <%= f.text_field :client_price, class: "form-control"%>
      </div>
      <%= f.label :comments, "Оплачено:",
        class: "control-label col-sm-2" %>
      <div class="col-sm-3" >
          <%= f.text_field :client_payed, class: "form-control"%>
      </div>
    </div>
    <div class="form-group" >
      <%= f.label :comments, "Цена для компании:",
        class: "control-label col-sm-2" %>
      <div class="col-sm-3" >
          <%= f.text_field :cost, class: "form-control"%>
      </div>
      <%= f.label :comments, "Оплачено:",
        class: "control-label col-sm-2" %>
      <div class="col-sm-3" >
          <%= f.text_field :cost_payed, class: "form-control"%>
      </div>
    </div>
    <div class="form-group" >
      <%= f.label :comments, "Необходимо выполнить до:",
        class: "control-label col-sm-2" %>
      <div class="col-sm-3" >
          <%= f.date_field :deadline, class: "form-control"%>
      </div>
    </div>
<%= link_to "Удалить документ", document_order_path(@order),
    method: :delete, class: "btn btn-danger", confirm: "Вы точно уверены?"%>
<%= f.submit "Сохранить", class: "btn btn-success pull-right" %>
<% end %>
