<h3><%= @order.document_template.name %></h3>
<%= form_for @order, html: {class: "form-horizontal"} do |f| %>
<table class="table" >
  <tr>
    <td class="col-sm-2" >
      Статус
    </td>
    <td>
      <%= f.select :status, options_for_select(DocumentOrder.statuses,
                                               @order.status), {},
                  class: "form-control" %>
    </td>
  </tr>
  <tr>
    <td>Комментарий</td>
    <td>
      <%= f.text_area :comments, class: "form-control" %>
    </td>
  </tr>
</table>
<%= link_to "Удалить документ", document_order_path(@order),
    method: :delete, class: "btn btn-danger", confirm: "Вы точно уверены?"%>
<%= f.submit "Сохранить", class: "btn btn-success pull-right" %>
<% end %>

<%= link_to "скачать pdf", doc_document_order_path(@order) %>
